#page-title h1.page-title {
	font-size:2.25em;
	margin:1em 0 .5em 0;
	padding:0;
}

#branding .breadcrumb { text-transform:none; }

#page-title .page-title em {
	font-style:normal;
	text-transform:capitalize;
	display:none;
}

/* #page-title .page-title em:after { content:':'; } */

.form-item, .text-format-wrapper .form-item, .text-format-wrapper, .text-format-wrapper fieldset { border:none; }

#overlay, textarea, input { font-family:Muli, Verdana, sans-serif; }

input.form-autocomplete:hover, input.form-text:hover, textarea.form-textarea:hover, select.form-select:hover, input.form-submit:hover, input.form-autocomplete:focus, input.form-text:focus, textarea.form-textarea:focus, select.form-select:focus {
	border-color:#bad80a;
	box-shadow:none;
	-webkit-box-shadow:none;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

input.form-autocomplete:focus, input.form-text:focus, textarea.form-textarea:focus, select.form-select:focus, input.form-submit:focus {
	box-shadow:#bad80a 0 0 8px;
	-webkit-box-shadow:#bad80a 0 0 8px;
	-webkit-transition: all .75s ease-in-out;
	-moz-transition: all .75s ease-in-out;
	-ms-transition: all .75s ease-in-out;
	-o-transition: all .75s ease-in-out;
	transition: all .75s ease-in-out;
}

#overlay .form-actions input[value="Save"]:hover, #overlay .form-actions input[value="Save"]:focus, #overlay .form-actions input[value="Save"]:active {
	box-shadow:#bad80a 0 0 4px;
	-webkit-box-shadow:#bad80a 0 0 4px;
}

#overlay .form-actions input[value="Preview"]:hover, #overlay .form-actions input[value="Preview"]:focus, #overlay .form-actions input[value="Preview"]:active {
	border-color:#ffc61e;
	box-shadow:#ffc61e 0 0 4px;
	-webkit-box-shadow:#ffc61e 0 0 4px;
}

#overlay .form-actions input[value="Delete"]:hover, #overlay .form-actions input[value="Delete"]:focus, #overlay .form-actions input[value="Delete"]:active {
	border-color:#ddd;
	box-shadow:#cc2d30 0 0 6px;
	-webkit-box-shadow:#cc2d30 0 0 6px;
}

h1, h2, h3, h4, h5, h6, .form-item label {
  margin:1.17em 0 .55em 0;
  line-height:1;
  border:none;
  padding:0;
  text-transform:none;
}

.form-item label[for="edit-body-und-0-format--2"] {
	margin-top:.25em;
}

.form-item label[for="edit-title"] {
	margin-top:0;
}

.form-item label, #overlay-content .preview h3 {
	font-weight:normal;
	font-size:1.4em;
}

.field-edit-link {
	display:block;
	font-size:.75em;
	margin-top:.5em;
}

.form-type-select label { margin-top:0; }

.form-item-title {
	margin-bottom:0;
	padding-bottom:0;
}

.form-item-body-und-0-value { margin-top:0; padding-top:0; }

#branding, #branding .breadcrumb a, #branding .breadcrumb strong {
	background-image:none;
	background-color:#0083d6;
	text-align:center;
	-webkit-box-shadow: 2px 0px 10px 0px #003f87;
	box-shadow: 2px 0px 10px 0px #003f87;
}

#branding .breadcrumb-link a, #branding .breadcrumb-link strong {
	padding-right:1em;
	padding-left:2em;
	font-size:1.17em;
}

#branding .breadcrumb-link:first-child a {
	padding-left:1em;
}
/*
#branding .breadcrumb-link .breadcrumb a:after {
	content:'hi';
}

#branding .breadcrumb-link .breadcrumb a:last-child:after {
	content:'';
}*/

.pager li.pager-current, .primary-tabs li.active {
	background-color:#c2e7ff;
}

.pager li.pager-current span, .primary-tabs li.active a {
	color: #333;
	text-shadow: #fff 0px 1px 0px;
}

#overlay-content #main-content {
	margin:0 1em;
}

.secondary-tabs {
	background:#fff;
	text-shadow:none;
	border-radius:0;
	min-width:130px;
}

.secondary-tabs a { padding:0 10px; }

.secondary-tabs a:hover, .secondary-tabs li:hover a, .secondary-tabs li.active:hover, .secondary-tabs li.active a {
	background:#dff2fe;
	border-radius:0;
	text-shadow:none;
}

.secondary-tabs:hover, .secondary-tabs li.active {
	background:#fff;
	border-radius:0;
}

.secondary-tabs .active a:before {
	content:"\2192";
	padding-right:5px;
	font-size:1.25em;
	color:#aaa;
}

.primary-tabs li.active a { text-shadow:none; }

/**
* Fix for Rubik 4.0. The status messages overlay the status icons.
*/

#console > div > div {
  padding-left: 50px;
}
.messages.status {
    padding-left: 50px;
}